# MOVIE RECOMMENDATION SYSTEM

# 1.Popularity Based Recommendation

In [1]:
# importing libraries
import numpy as np # linear algebra
import pandas as pd # data processing,  pd.read_csv

In [2]:
# loading dataset
df_movies = pd.read_csv("tmdb_5000_movies.csv") # movie dataset
df_credits = pd.read_csv("tmdb_5000_credits.csv") # credits dataset
print("The Length of the Datasets is :")
print()
print("Movies dataset Shape: ", df_movies.shape) # shape of movie dataset
print()
print("Credits dataset Shape: ", df_credits.shape) # shape of credits dataset
print()

The Length of the Datasets is :

Movies dataset Shape:  (4803, 20)

Credits dataset Shape:  (4803, 4)

### Exploaring movie and credits dataset

In [3]:
df_movies.head() # print top 5 rows

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
df_movies.info() # information about columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [5]:
#columns of the movie data
print()
print("*"*20, "Movies Columns", "*"*20, "\n", df_movies.columns)
print()

******************** Movies Columns ********************
 Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [6]:
# credits dataset

In [7]:
df_credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [9]:
print()
print("\n", "*"*20, "Credites Columns", "*"*20, "\n", df_credits.columns)
print()

 ******************** Credites Columns ********************
 Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

### Merging dataset

In [10]:
# Combine the 2 dataframes in single on title 
data = df_movies.merge(df_credits, on='title')
print()
print("Cobined dataframe Shape: ", data.shape) # dataset shape
print()

Cobined dataframe Shape:  (4809, 23)

In [11]:
data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
# imdb formula for calculating the popular movies is used to predict the popular based recomendation, 
# here, we are going to use some of the columns such as popularity, voted counts , voted rate etc.
# The weighted average formula is given belolw

        RV + CM 
 W =  ------------
         V + M

w = weighted rating

R = Rating given to the movie from 0 to 10 scale

v = Number of vote for the movie

m = minimum vote required to be voted in top 250 ( voted count )

c = mean vote ( voted average )

In [13]:
# getting mean and quantile 
data[["vote_average","vote_count"]].describe()

       vote_average    vote_count
count   4809.000000   4809.000000
mean       6.092514    690.331670
std        1.193989   1234.187111
min        0.000000      0.000000
25%        5.600000     54.000000
50%        6.200000    235.000000
75%        6.800000    737.000000
max       10.000000  13752.000000

In [14]:
# Calculate all the components based on the above formula
v=data['vote_count']
R=data['vote_average']
C=data['vote_average'].mean()
m=data['vote_count'].quantile(0.70)

In [15]:
data['weighted_average']=((R*v)+ (C*m))/(v+m)

In [16]:
# look at the weighted rate for each movie
movie_sorted_ranking=data.sort_values('weighted_average',ascending=False)
movie_sorted_ranking[['original_title', 'vote_count', 'vote_average', 'weighted_average', 'popularity']].head(20)

,original_title,vote_count,vote_average,weighted_average,popularity
1887,The Shawshank Redemption,8205,8.5,8.340798,136.747729
3342,The Godfather,5893,8.4,8.192918,143.659698
662,Fight Club,9413,8.3,8.171668,146.757391
3237,Pulp Fiction,8428,8.3,8.157637,121.463076
65,The Dark Knight,12002,8.2,8.102690,187.322927
809,Forrest Gump,7927,8.2,8.056083,138.133331
1824,Schindler's List,4329,8.3,8.038788,104.469351
3872,Whiplash,4254,8.3,8.034736,192.528841
96,Inception,13752,8.1,8.018625,167.583710
1996,The Empire Strikes Back,5879,8.2,8.010457,78.517830
2300,千と千尋の神隠し,3840,8.3,8.009896,118.968562
95,Interstellar,10867,8.1,7.998118,724.247784
2737,The Godfather: Part II,3338,8.3,7.972736,105.792936
329,The Lord of the Rings: The Return of the King,8064,8.1,7.965084,123.630332
2917,Star Wars,6624,8.1,7.938119,126.393695
690,The Green Mile,4048,8.2,7.935483,103.698022
1559,Se7en,5765,8.1,7.916207,79.579532
262,The Lord of the Rings: The Fellowship of the Ring,8705,8.0,7.880654,138.049577
1853,GoodFellas,3128,8.2,7.869871,63.654244
2097,The Silence of the Lambs,4443,8.1,7.867844,18.174804

In [17]:
from sklearn.preprocessing import MinMaxScaler

scaling=MinMaxScaler()
movie_scaled=scaling.fit_transform(data[['weighted_average','popularity']])
movie_normalized_df=pd.DataFrame(movie_scaled,columns=['weighted_average','popularity'])
movie_normalized_df.head()

   weighted_average  popularity
0          0.674322    0.171815
1          0.581388    0.158846
2          0.436251    0.122635
3          0.773043    0.128272
4          0.387725    0.050169

In [18]:
data[['normalized_weight_average','normalized_popularity']]= movie_normalized_df

In [19]:
data['score'] = data['normalized_weight_average'] * 0.5 + data['normalized_popularity'] * 0.5
movies_scored_df = data.sort_values(['score'], ascending=False)
movies_scored_df[['original_title', 'normalized_weight_average', 'normalized_popularity', 'score']].head(20)

,original_title,normalized_weight_average,normalized_popularity,score
95,Interstellar,0.906433,0.827162,0.866798
546,Minions,0.460609,1.000000,0.730305
94,Guardians of the Galaxy,0.851866,0.549462,0.700664
788,Deadpool,0.725203,0.587690,0.656446
127,Mad Max: Fury Road,0.670957,0.495989,0.583473
1887,The Shawshank Redemption,1.000000,0.156179,0.578090
65,The Dark Knight,0.934986,0.213941,0.574464
3872,Whiplash,0.916432,0.219887,0.568159
3342,The Godfather,0.959622,0.164074,0.561848
662,Fight Club,0.953820,0.167611,0.560716
96,Inception,0.912033,0.191397,0.551715
3237,Pulp Fiction,0.949989,0.138723,0.544356
809,Forrest Gump,0.922260,0.157762,0.540011
199,Pirates of the Caribbean: The Curse of the Bla...,0.740914,0.310620,0.525767
2300,千と千尋の神隠し,0.909649,0.135874,0.522762
88,Big Hero 6,0.812006,0.232685,0.522346
329,The Lord of the Rings: The Return of the King,0.897414,0.141198,0.519306
1824,Schindler's List,0.917538,0.119314,0.518426
2917,Star Wars,0.890051,0.144354,0.517203
262,The Lord of the Rings: The Fellowship of the Ring,0.874361,0.157666,0.516013

In [20]:
# Importing Required Libraries
# for Movies Poster Reuest
import requests
from IPython.display import Image, HTML, display

In [21]:
popular_movies = data.nlargest(n=10, columns=['popularity'])[['id', 'title']]
getList_name = {}
for x, xRows in popular_movies.iterrows():
    #print(xRows['id'])
    getResponse = requests.get('https://api.themoviedb.org/3/movie/{}?api_key=c0bda0be71f7815fd6ba2eb5f5c86fd8'.format(xRows['id']) )
    getData = getResponse.json()
    getPath = "http://image.tmdb.org/t/p/w500" + getData['poster_path']
    getList_name[xRows['title']] = getPath

display( HTML(f"""<table>
                    <tr>
                        <td><img src={list(getList_name.values())[0]} style='border-radius:10px; height:300px; width:575px; border:1px solid #999;'></td>
                        <td><img src={list(getList_name.values())[1]} style='border-radius:10px; height:300px; width:575px; border:1px solid #999;'></td>
                        <td><img src={list(getList_name.values())[2]} style='border-radius:10px; height:300px; width:575px; border:1px solid #999;'></td>
                        <td><img src={list(getList_name.values())[3]} style='border-radius:10px; height:300px; width:575px; border:1px solid #999;'></td>
                        <td><img src={list(getList_name.values())[4]} style='border-radius:10px; height:300px; width:575px; border:1px solid #999;'></td>
                    </tr>
                    <tr>
                        <td><div style="height:40px; padding-top:15px; text-align:center; font-size:14px; font-weight:bold; border:1px solid #ccc; border-radius:10px;">{list(getList_name.keys())[0]}</div></td>
                        <td><div style="height:40px; padding-top:15px; text-align:center; font-size:14px; font-weight:bold; border:1px solid #ccc; border-radius:10px;">{list(getList_name.keys())[1]}</div></td>
                        <td><div style="height:40px; padding-top:15px; text-align:center; font-size:14px; font-weight:bold; border:1px solid #ccc; border-radius:10px;">{list(getList_name.keys())[2]}</div></td>
                        <td><div style="height:40px; padding-top:15px; text-align:center; font-size:14px; font-weight:bold; border:1px solid #ccc; border-radius:10px;">{list(getList_name.keys())[3]}</div></td>
                        <td><div style="height:40px; padding-top:15px; text-align:center; font-size:14px; font-weight:bold; border:1px solid #ccc; border-radius:10px;">{list(getList_name.keys())[4]}</div></td>
                    </tr>
                </table>"""))

# 2.Content Based Recommendation

In [22]:
import nltk # nltk library
nltk.download(["punkt","stopwords","wordnet"])

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\w9505534\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\w9505534\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\w9505534\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [23]:
data = data.drop(columns=['homepage','production_countries']) # drop unnecessary column
data.head(2)

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,release_date,...,title,vote_average,vote_count,movie_id,cast,crew,weighted_average,normalized_weight_average,normalized_popularity,score
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,...,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.148029,0.674322,0.171815,0.423068
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,...,Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.807666,0.581388,0.158846,0.370117

In [24]:
data.info() # information about data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   budget                     4809 non-null   int64
 1   genres                     4809 non-null   object
 2   id                         4809 non-null   int64
 3   keywords                   4809 non-null   object
 4   original_language          4809 non-null   object
 5   original_title             4809 non-null   object
 6   overview                   4806 non-null   object
 7   popularity                 4809 non-null   float64
 8   production_companies       4809 non-null   object
 9   release_date               4808 non-null   object
 10  revenue                    4809 non-null   int64
 11  runtime                    4807 non-null   float64
 12  spoken_languages           4809 non-null   object
 13  status                     4809 non-null   object
 14  tagline                    3965 non-null   object
 15  title                      4809 non-null   object
 16  vote_average               4809 non-null   float64
 17  vote_count                 4809 non-null   int64
 18  movie_id                   4809 non-null   int64
 19  cast                       4809 non-null   object
 20  crew                       4809 non-null   object
 21  weighted_average           4809 non-null   float64
 22  normalized_weight_average  4809 non-null   float64
 23  normalized_popularity      4809 non-null   float64
 24  score                      4809 non-null   float64
dtypes: float64(7), int64(5), object(13)
memory usage: 976.8+ KB

In [25]:
# content based filtering is nothing but recommend the movies to users based on similar summary of the users search.
# i am taking movies summary mentioned on the overview column to recomment content based filtering

In [26]:
data.head(20)['overview'] # display overview column
# this are the content or summary about the movie

0     In the 22nd century, a paraplegic Marine is di...
1     Captain Barbossa, long believed to be dead, ha...
2     A cryptic message from Bond’s past sends him o...
3     Following the death of District Attorney Harve...
4     John Carter is a war-weary, former military ca...
5     The seemingly invincible Spider-Man goes up ag...
6     When the kingdom's most wanted-and most charmi...
7     When Tony Stark tries to jumpstart a dormant p...
8     As Harry begins his sixth year at Hogwarts, he...
9     Fearing the actions of a god-like Super Hero l...
10    Superman returns to discover his 5-year absenc...
11    Quantum of Solace continues the adventures of ...
12    Captain Jack Sparrow works his way out of a bl...
13    The Texas Rangers chase down a gang of outlaws...
14    A young boy learns that he has extraordinary p...
15    One year after their incredible adventures in ...
16    When an unexpected enemy emerges and threatens...
17    Captain Jack Sparrow crosses paths with a woma...
18    Agents J (Will Smith) and K (Tommy Lee Jones) ...
19    Immediately after the events of The Desolation...
Name: overview, dtype: object

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer # for convert text into numeric vector


tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

# Filling NaNs with empty string
data['overview'] = data['overview'].fillna('') # fill na with empty string

In [28]:
# Fitting the TF-IDF on the 'overview' text
movie_matrix = tfv.fit_transform(data['overview'])
movie_matrix

<4809x10444 sparse matrix of type '<class 'numpy.float64'>'
	with 127520 stored elements in Compressed Sparse Row format>

In [29]:
print()
print(" The shape of the matrix :",movie_matrix.shape)
print()

 The shape of the matrix : (4809, 10444)

In [30]:
from sklearn.metrics.pairwise import sigmoid_kernel # siugmoid kernal

# Compute the sigmoid kernel
sigmoid = sigmoid_kernel(movie_matrix, movie_matrix)
sigmoid[1]

array([0.76159416, 0.76163437, 0.76159416, ..., 0.76159512, 0.76159416,
       0.76159416])

In [31]:
# Reverse mapping of indices and movie titles
index = pd.Series(data.index, index=data['original_title']).drop_duplicates() # drop duplicate movies

In [32]:
index

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4804
Newlyweds                                   4805
Signed, Sealed, Delivered                   4806
Shanghai Calling                            4807
My Date with Drew                           4808
Length: 4809, dtype: int64

In [33]:
def recommender_movies(title, sig=sigmoid):
    # Get the index corresponding to original_title
    idx = index[title]

    # Get the pairwsie similarity scores 
    sig_scores = list(enumerate(sigmoid[idx]))

    # Sort the movies 
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)

    # Scores of the 10 most similar movies
    sig_scores = sig_scores[1:11]

    # Movie indices
    movie_index = [i[0] for i in sig_scores]

    # Top 10 most similar movies
    return data['original_title'].iloc[movie_index]

In [34]:
# Testing our content-based recommendation system with the seminal film Spy Kids
recommender_movies('The Dark Knight Rises')

299                              Batman Forever
65                              The Dark Knight
1362                                     Batman
1363                                     Batman
428                              Batman Returns
2513                                  Slow Burn
119                               Batman Begins
1184                                        JFK
9            Batman v Superman: Dawn of Justice
3861    Batman: The Dark Knight Returns, Part 2
Name: original_title, dtype: object

----------------------------------------------------------------------------------------------------------------------------

# 3. Tensor Flow Recommender

In [37]:
!pip install -q tensorflow-recommenders
!pip install -q --upgrade tensorflow-datasets

WARNING: You are using pip version 21.2.4; however, version 22.2.1 is available.
You should consider upgrading via the 'c:\programdata\anaconda3\python.exe -m pip install --upgrade pip' command.
WARNING: You are using pip version 21.2.4; however, version 22.2.1 is available.
You should consider upgrading via the 'c:\programdata\anaconda3\python.exe -m pip install --upgrade pip' command.

In [1]:

from typing import Dict, Text
import tensorflow as tf # tensor flow library
import tensorflow_datasets as tfds # for movies data
import tensorflow_recommenders as tfrs # recommender library

In [2]:
ratings = tfds.load('movielens/100k-ratings', split="train") # reading rating data and split for train
movies = tfds.load('movielens/100k-movies', split="train")# reading movie data and split for train

# for candidate tower
ratings = ratings.map(lambda x: {
    "movie_title": x["movie_title"],
    "user_id": x["user_id"],
    "user_rating": x["user_rating"],
}) # taking user rating, id and movie title
# for query tower
movies = movies.map(lambda x: x["movie_title"]) # taking only movie title

Downloading and preparing dataset Unknown size (download: Unknown size, generated: Unknown size, total: Unknown size) to ~\tensorflow_datasets\movielens\100k-ratings\0.1.1...

Dl Completed...: 0 url [00:00, ? url/s]

Dl Size...: 0 MiB [00:00, ? MiB/s]

Extraction completed...: 0 file [00:00, ? file/s]

Generating splits...:   0%|          | 0/1 [00:00<?, ? splits/s]

Generating train examples...: 0 examples [00:00, ? examples/s]

Shuffling ~\tensorflow_datasets\movielens\100k-ratings\0.1.1.incomplete7GRLOW\movielens-train.tfrecord*...:   …

Dataset movielens downloaded and prepared to ~\tensorflow_datasets\movielens\100k-ratings\0.1.1. Subsequent calls will reuse this data.
Downloading and preparing dataset Unknown size (download: Unknown size, generated: Unknown size, total: Unknown size) to ~\tensorflow_datasets\movielens\100k-movies\0.1.1...

Dl Completed...: 0 url [00:00, ? url/s]

Dl Size...: 0 MiB [00:00, ? MiB/s]

Extraction completed...: 0 file [00:00, ? file/s]

Generating splits...:   0%|          | 0/1 [00:00<?, ? splits/s]

Generating train examples...: 0 examples [00:00, ? examples/s]

Shuffling ~\tensorflow_datasets\movielens\100k-movies\0.1.1.incompleteSA449K\movielens-train.tfrecord*...:   0…

Dataset movielens downloaded and prepared to ~\tensorflow_datasets\movielens\100k-movies\0.1.1. Subsequent calls will reuse this data.

In [3]:
tf.random.set_seed(42)
shuffled = ratings.shuffle(100_000, seed=42, reshuffle_each_iteration=False) #shuffle the data

train = shuffled.take(80_000)
test = shuffled.skip(80_000).take(20_000)

In [5]:
movie_titles = movies.batch(1_000)
user_ids = ratings.batch(1_000_000).map(lambda x: x["user_id"])

# getting unique movies
unique_movie_titles = np.unique(np.concatenate(list(movie_titles)))
unique_user_ids = np.unique(np.concatenate(list(user_ids)))

unique_movie_titles[:10]

array([b"'Til There Was You (1997)", b'1-900 (1994)',
       b'101 Dalmatians (1996)', b'12 Angry Men (1957)', b'187 (1997)',
       b'2 Days in the Valley (1996)',
       b'20,000 Leagues Under the Sea (1954)',
       b'2001: A Space Odyssey (1968)',
       b'3 Ninjas: High Noon At Mega Mountain (1998)',
       b'39 Steps, The (1935)'], dtype=object)

In [ ]:
# dimension for query and candidate tower

In [6]:
embedding_dimension = 32 # assigning 32

In [25]:
# tower 1 - candidate tower

In [7]:
user_model = tf.keras.Sequential([
  tf.keras.layers.StringLookup(
      vocabulary=unique_user_ids, mask_token=None),
  # We add an additional embedding to account for unknown tokens.
  tf.keras.layers.Embedding(len(unique_user_ids) + 1, embedding_dimension)
])

In [26]:
# tower 2 - query tower

In [8]:
movie_model = tf.keras.Sequential([
  tf.keras.layers.StringLookup(
      vocabulary=unique_movie_titles, mask_token=None),
  tf.keras.layers.Embedding(len(unique_movie_titles) + 1, embedding_dimension)
])

In [9]:
# metrics
metrics = tfrs.metrics.FactorizedTopK(
  candidates=movies.batch(128).map(movie_model)
)

In [10]:
# loss
task = tfrs.tasks.Retrieval(
  metrics=metrics
)

In [ ]:
#  We can now put it all together into a model. TFRS exposes a base model class (tfrs.models.Model)
#which streamlines building models: all we need to do is to set up the components in the class methods, and 
#implement the compute_loss method, 
#taking in the raw features and returning a loss value.

In [15]:
class MovielensModel(tfrs.Model):
    def __init__(self, user_model, movie_model):
        super().__init__()
        self.movie_model: tf.keras.Model = movie_model
        self.user_model: tf.keras.Model = user_model
        self.task: tf.keras.layers.Layer = task
    def compute_loss(self, features: Dict[Text, tf.Tensor], training=False) -> tf.Tensor:
    # We pick out the user features and pass them into the user model.
        user_embeddings = self.user_model(features["user_id"])
    # And pick out the movie features and pass them into the movie model,
    # getting embeddings back.
        positive_movie_embeddings = self.movie_model(features["movie_title"])

    # The task computes the loss and the metrics.
        return self.task(user_embeddings, positive_movie_embeddings)

In [17]:
class NoBaseClassMovielensModel(tf.keras.Model):
    def __init__(self, user_model, movie_model):
        super().__init__()
        self.movie_model: tf.keras.Model = movie_model
        self.user_model: tf.keras.Model = user_model
        self.task: tf.keras.layers.Layer = task

    def train_step(self, features: Dict[Text, tf.Tensor]) -> tf.Tensor:

        # Set up a gradient tape to record gradients.
        with tf.GradientTape() as tape:

        # Loss computation.
            user_embeddings = self.user_model(features["user_id"])
            positive_movie_embeddings = self.movie_model(features["movie_title"])
            loss = self.task(user_embeddings, positive_movie_embeddings)

      # Handle regularization losses as well.
            regularization_loss = sum(self.losses)

            total_loss = loss + regularization_loss

            gradients = tape.gradient(total_loss, self.trainable_variables)
            self.optimizer.apply_gradients(zip(gradients, self.trainable_variables))

            metrics = {metric.name: metric.result() for metric in self.metrics}
            metrics["loss"] = loss
            metrics["regularization_loss"] = regularization_loss
            metrics["total_loss"] = total_loss

            return metrics

    def test_step(self, features: Dict[Text, tf.Tensor]) -> tf.Tensor:

    # Loss computation.
        user_embeddings = self.user_model(features["user_id"])
        positive_movie_embeddings = self.movie_model(features["movie_title"])
        loss = self.task(user_embeddings, positive_movie_embeddings)

    # Handle regularization losses as well.
        regularization_loss = sum(self.losses)

        total_loss = loss + regularization_loss

        metrics = {metric.name: metric.result() for metric in self.metrics}
        metrics["loss"] = loss
        metrics["regularization_loss"] = regularization_loss
        metrics["total_loss"] = total_loss

        return metrics

In [18]:
# complier
model = MovielensModel(user_model, movie_model)
model.compile(optimizer=tf.keras.optimizers.Adagrad(learning_rate=0.1))

In [19]:
cached_train = train.shuffle(100_000).batch(8192).cache()
cached_test = test.batch(4096).cache()

In [22]:
# fitting the model with 5 epoch
model.fit(cached_train, epochs=5)

Epoch 1/5
10/10 [==============================] - 8s 808ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0038 - factorized_top_k/top_5_categorical_accuracy: 0.0260 - factorized_top_k/top_10_categorical_accuracy: 0.0509 - factorized_top_k/top_50_categorical_accuracy: 0.2026 - factorized_top_k/top_100_categorical_accuracy: 0.3338 - loss: 65609.7436 - regularization_loss: 0.0000e+00 - total_loss: 65609.7436
Epoch 2/5
10/10 [==============================] - 8s 802ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0042 - factorized_top_k/top_5_categorical_accuracy: 0.0283 - factorized_top_k/top_10_categorical_accuracy: 0.0554 - factorized_top_k/top_50_categorical_accuracy: 0.2142 - factorized_top_k/top_100_categorical_accuracy: 0.3478 - loss: 65110.2699 - regularization_loss: 0.0000e+00 - total_loss: 65110.2699
Epoch 3/5
10/10 [==============================] - 9s 857ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0045 - factorized_top_k/top_5_categorical_accuracy: 0.0298 - factorized_top_k/top_10_categorical_accuracy: 0.0586 - factorized_top_k/top_50_categorical_accuracy: 0.2239 - factorized_top_k/top_100_categorical_accuracy: 0.3601 - loss: 64721.4297 - regularization_loss: 0.0000e+00 - total_loss: 64721.4297
Epoch 4/5
10/10 [==============================] - 9s 888ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0049 - factorized_top_k/top_5_categorical_accuracy: 0.0317 - factorized_top_k/top_10_categorical_accuracy: 0.0616 - factorized_top_k/top_50_categorical_accuracy: 0.2318 - factorized_top_k/top_100_categorical_accuracy: 0.3695 - loss: 64408.9602 - regularization_loss: 0.0000e+00 - total_loss: 64408.9602
Epoch 5/5
10/10 [==============================] - 9s 860ms/step - factorized_top_k/top_1_categorical_accuracy: 0.0050 - factorized_top_k/top_5_categorical_accuracy: 0.0333 - factorized_top_k/top_10_categorical_accuracy: 0.0642 - factorized_top_k/top_50_categorical_accuracy: 0.2377 - factorized_top_k/top_100_categorical_accuracy: 0.3766 - loss: 64153.3771 - regularization_loss: 0.0000e+00 - total_loss: 64153.3771

In [24]:
# Create a model that takes in raw query features, and
index = tfrs.layers.factorized_top_k.BruteForce(model.user_model)
# recommends movies out of the entire movies dataset.
index.index_from_dataset(
  tf.data.Dataset.zip((movies.batch(100), movies.batch(100).map(model.movie_model)))
)

# Getting recommendations of the user 22.
_, titles = index(tf.constant(["22"]))
print(f"Recommendations for user 22: {titles[0, :10]}")

Recommendations for user 22: [b'Lightning Jack (1994)' b'Jingle All the Way (1996)'
 b'Clean Slate (1994)' b'Radioland Murders (1994)' b"McHale's Navy (1997)"
 b'Operation Dumbo Drop (1995)' b'Houseguest (1994)' b'Pest, The (1997)'
 b'Last Action Hero (1993)' b'Beverly Hills Cop III (1994)']